{% extends 'mainTemp.html' %}
{% load static %}

{% block title %}
    صفحه بلاگ ها
{% endblock title %}

{% block content %}
    <h1 class='title'>لیست نویسندگان</h1>

        <table class="table table-dark">
            <tr>
                <td scope="col">عکس نویسنده</td>
                <td scope="col">نام</td>
                <td scope="col">نام خانوادگی</td>
                <td scope="col">جزئیات نویسنده</td>
            </tr>
            {% for auther in autherAll %}
            <tr>
                <td><img src="{{media_url}}images/person/{{auther.image_name}}" alt=""></td>
                <td>{{auther.name}}</td>
                <td>{{auther.family}}</td>
                <td><a href="{{auther.id}}">جزئیات</a></td>
            </tr>
            {% endfor %}
        </table>

{% endblock content %}
