{% extends 'mainTemp.html' %}
{% block title %}
    صفحه بلاگ ها
{% endblock title %}
{% block content %}
    <h1>لیست مقالات</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
        <li class="list-group-item"><a href="#">مقاله</a></li>
    </ul>
    <h1><a href="{% url 'auther_list' %}">لیست نویسندگان</a></h1>
{% endblock content %}
