{% extends 'mainTemp.html' %}

{% block title %}ثبت نام{% endblock title %}

{% block content %}
    <h1>تمرین کار با فرم ها</h1>
    <form action="" style="direction: rtl;text-align: center;" method="get">
        {% csrf_token %}
        <div>
            <label for="name">نام : </label>
            <input type="text" id="name" name="fname">
        </div>
        <div>
            <label for="family">نام خانوادگی : </label>
            <input type="text" id="family" name="lname">
        </div>
        <div>
            <label for="age">سن : </label>
            <input type="text" id="age" name="age">
        </div>
        <div>
            <input type="submit" value="ثبت نام">
        </div>
    </form>
{% endblock content %}