{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock title %}| فروشگاه میعاد</title>
</head>
<body>
    {% include "partial/header.html" %}
    {% include "partial/navbar.html" %}
    
    {% block content %}
    
        content    
    
    {% endblock content %}

    {% include "partial/footer.html" %}
    {% include "partial/script.html" %}
</body>
</html>