body{
    direction: rtl;
}
.title{
    height: 100px;
    padding: 30px;
    color:aquamarine ;
    text-align: center;
    background-color: lightslategrey;
}
.art{
    margin: 0 auto;
    padding: 10px;
    width: 100px;
    text-align: center;
}
.art li a{
    text-decoration: none;
    color: black;
    background-color: rgb(1, 142, 250);
}
footer,header{
    text-align: center;
    padding: 40px;
    height: 150px;
    background-color: lightcoral;
}
h1{
    padding: 30px;
    width: 300px;
    margin:auto;
}
h1 a{
    background-color: pink;
    color: black;
    text-decoration: none;
    font-size: 30px;
}
